@use '../utils/vars' as vars;

.details {
  &__container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    left: 50%;
    min-width: 300px;
    overflow: auto;
    padding: 7px;
    position: absolute;
    top: 10%;
    transform: translateX(-50%) scale(0.8);
    width: 90vw;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity vars.$transition-scroll,
      transform vars.$transition-scroll;

    &:not(.hidden) {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -10%) scale(1);
    }

    @media (prefers-color-scheme: light) {
      background-color: vars.$color-details-bg-light;
      color: vars.$color-default-light;
    }

    @media (prefers-color-scheme: dark) {
      background-color: vars.$color-details-bg;
      color: vars.$color-default;
    }
  }

  &__close-button {
    @include vars.flex-center;
    border-radius: 50%;
    border: 1px solid;
    height: 30px;
    position: absolute;
    right: 15px;
    transition: vars.$transition;
    width: 32px;

    &:hover {
      border-color: vars.$color-goit;

      > svg {
        fill: vars.$color-goit;
      }
    }

    > svg {
      @media (prefers-color-scheme: light) {
        fill: #000;
        stroke: #000;
      }
      @media (prefers-color-scheme: dark) {
        fill: #fff;
        stroke: #fff;
      }
    }
  }

  &__img {
    border-radius: 12%;
    border: 0.3rem solid rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 40px auto 0 auto;
    max-height: 357px;
    max-width: 95%;
    width: 100%;
  }

  &__title {
    font-size: vars.$font-lg;
  }

  &__information {
    @include vars.flex-center;
    flex-direction: column;
    width: 100%;

    &-list {
      @include vars.flex-between;
      flex-direction: column;
      gap: 6px;
      list-style: none;
      margin: 0 auto;

      &--item {
        @include vars.flex-between;
        align-items: baseline;
        padding: 0 12px 0 12px;
        max-width: 280px;
        overflow: auto;
        text-align: justify;
        width: 100%;

        &:last-of-type {
          max-width: 600px;
          padding: 0 12px;
        }
      }

      &--data {
        max-width: 120px;
        text-align: end;
      }
    }

    &-rating {
      align-items: center;
      background-color: vars.$color-goit;
      border-radius: 5px;
      display: inline-flex;
      height: 16px;
      justify-content: center;
      padding: 5px;
    }
  }

  &__about-container {
    > h3 {
      margin-bottom: 8px;
      text-align: center;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
  }
}

.btn-add {
  &-watched,
  &-queue {
    @include vars.flex-center;
    background-color: vars.$color-goit;
    border-radius: 5px;
    color: vars.$color-default;
    font-size: vars.$font-sm;
    font-weight: 600;
    height: 38px;
    opacity: 0.8;
    width: 110px;
    margin: 20px 0;
    transition:
      vars.$transition transform,
      opacity vars.$transition;

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.1);
    }

    &:first-of-type {
      margin-right: 10px;
    }
  }
}
