@use '../utils/vars' as vars;

.btn-delete {
  &-watched,
  &-queue {
    @include vars.flex-center;
    background-color: vars.$color-goit;
    border-radius: 5px;
    font-size: vars.$font-sm;
    font-weight: 600;
    height: 42px;
    margin-top: 15px;
    opacity: 0.8;
    text-transform: uppercase;
    transition: vars.$transition;
    width: 148px;
    color: red;

    &:hover,
    &:focus {
      opacity: 1;
      transform: vars.$transform-button;
    }
  }
}
