@use '../utils/vars' as vars;

.btn-delete {
  &-watched,
  &-queue {
    align-items: center;
    background-color: vars.$color-goit;
    border-radius: 5px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: vars.$font-sm;
    font-weight: 500;
    height: 42px;
    justify-content: center;
    line-height: 1.33;
    margin-top: 15px;
    opacity: 0.8;
    text-transform: uppercase;
    transition: 0.5s;
    width: 148px;

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
