@use '../utils/vars' as vars;

.details {
  background-color: vars.$color-modal-opacity;
  height: 100%;
  left: 50%;
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  z-index: -10;

  &__container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    left: 50%;
    max-width: 320px;
    overflow: scroll;
    padding: 7px;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);

    @media (prefers-color-scheme: light) {
      background-color: vars.$color-details-bg-light;
      color: vars.$color-default-light;
    }

    @media (prefers-color-scheme: dark) {
      background-color: vars.$color-details-bg;
      color: vars.$color-default;
    }

    &__close-button {
      align-items: center;
      background: none;
      border-radius: 50%;
      border: 1px solid;
      cursor: pointer;
      display: flex;
      height: 30px;
      justify-content: center;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 30px;

      > svg {
        @media (prefers-color-scheme: light) {
          fill: #000;
          stroke: #000;
        }
        @media (prefers-color-scheme: dark) {
          fill: #fff;
          stroke: #fff;
        }
      }

      &__img {
        border-radius: 5px;
        height: auto;
        margin: 40px auto 10px auto;
        max-height: 357px;
        max-width: 95%;
        width: 100%;
      }

      &__title {
        font-size: vars.$font-lg;
      }

      &__information {
        @include vars.flex-center;

        flex-direction: column;

        &-list {
          @include vars.flex-between;
          flex-direction: column;
          gap: 6px;
          list-style: none;
          margin: 0 auto;

          &--item {
            @include vars.flex-between;
            width: 100%;
            align-items: baseline;
            margin: 0 12px 0 0px;
            text-align: justify;
            overflow: scroll;
          }

          &--data {
            max-width: 120px;
            text-align: end;
          }
        }

        &-rating {
          align-items: center;
          background-color: vars.$color-goit;
          border-radius: 5px;
          display: inline-flex;
          height: 16px;
          justify-content: center;
          padding: 5px;
        }
      }

      &__about-container {
        width: 240px;

        > h3 {
          margin-bottom: 8px;
        }
      }

      &__buttons {
        align-items: center;
        display: flex;
        margin: 0 0 0 5%;

        > button {
          border-radius: 5px;
          border: none;
          cursor: pointer;
          height: 44px;
          margin: 20px 0;
          padding: 0 10px;
          text-transform: uppercase;
          width: 110px;

          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.btn-add {
  &-watched,
  &-queue {
    align-items: center;
    background-color: vars.$color-goit;
    border-radius: 5px;
    color: vars.$color-default;
    display: flex;

    font-size: 0.75rem;
    font-weight: 500;
    height: 42px;
    justify-content: center;
    line-height: 1.33;
    opacity: 0.8;
    text-transform: uppercase;
    transition: vars.$transition;
    width: 148px;

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
