@use '../utils/vars' as vars;
.films {
  @include vars.flex-center;
  margin-top: 120px;

  &__list {
    margin: 30px;

    &-item {
      border-radius: 5px;
      margin-bottom: 20px;
      width: 100%;
      transition: vars.$transition;

      &:hover {
        transform: scale(1.1);
        z-index: 10;
      }

      > img {
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      > h2 {
        text-transform: uppercase;
        font-size: vars.$font-xs;
        line-height: 1.33;
        margin-top: 10px;
      }

      > p {
        color: vars.getcolor('orange');
        font-size: vars.$font-xs;
        line-height: 1.17;
      }

      &--rating {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 14px;
        background-color: vars.getcolor('orange');
        border-radius: 5px;
        color: vars.getcolor('header');
        font-size: vars.$font-xs;
      }
    }
  }
}

// .page-numbers {
//   display: flex;
//   justify-content: center;
//   gap: 15px;
//   align-items: center;
//   margin: 40px 0;

//   &__list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 16px;
//     list-style: none;
//   }

//   &__link {
//     text-decoration: none;
//     align-items: center;
//     display: flex;
//     @media (prefers-color-scheme: light) {
//       color: vars.getcolor('black');
//     }
//     @media (prefers-color-scheme: dark) {
//       color: vars.getcolor('header');
//     }

//     &--arrow {
//       margin: 0 20px;
//       @media (prefers-color-scheme: light) {
//         stroke: vars.getcolor('black');
//       }
//       @media (prefers-color-scheme: dark) {
//         stroke: vars.getcolor('header');
//       }
//     }
//   }

//   // Actual Page
//   &--chosen {
//     background-color: vars.getcolor('orange') !important;
//     border-radius: 5px;
//     display: flex;
//     height: 40px;
//     justify-content: center;
//     width: 40px;
//   }
// }
