@import '../utils/vars';

.films {
  align-items: center;
  display: flex;
  justify-content: center;

  &__list {
    list-style: none;

    &-item {
      border-radius: 5px;
      height: 443px;
      margin-bottom: 20px;
      width: 280px;

      > img {
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        height: 402px;
        width: 280px;
      }

      > h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
      }

      > p {
        color: getcolor('orange');
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.page-numbers {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 40px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    align-items: center;
    display: flex;
    @media (prefers-color-scheme: light) {
      color: #000;
    }
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }

    &--arrow {
      margin: 0 20px;
      @media (prefers-color-scheme: light) {
        stroke: #000;
      }
      @media (prefers-color-scheme: dark) {
        stroke: #fff;
      }
    }
  }

  // Actual Page
  &--chosen {
    background-color: getcolor('orange') !important;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
}
