@import '../utils/vars';

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100%;

  @media (prefers-color-scheme: light) {
    background-color: getcolor('footer');
  }
  @media (prefers-color-scheme: dark) {
    background-color: #1a181f;
  }

  > p:first-child {
    margin-bottom: 10px;
  }
}
