@use '../utils' as vars;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  font-size: 8px;
  color: #545454;

  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  @media (prefers-color-scheme: light) {
    background-color: vars.getcolor(footer);
  }

  @media (prefers-color-scheme: dark) {
    background-color: #1a181f;
  }
}

.footer:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}

.footer__link {
  padding-top: 10px;
  color: vars.getcolor(orange);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  cursor: pointer;

  &:hover,
  &:focus {
    color: cornflowerblue;
  }
}
