@use '../utils/vars' as vars;

.footer {
  @include vars.flex-center;
  background-color: vars.$color-footer;
  bottom: 0;
  color: vars.$color-default;
  font-size: vars.$font-xs;
  opacity: 0;
  padding: 2px 0;
  position: fixed;
  text-align: center;
  transform: translateY(100%);
  transition: vars.$transition-scroll;
  width: 100%;
  z-index: 100;
  line-height: 1;

  &__svg {
    height: 10px;
    width: 10px;
  }

  &__link {
    color: vars.$color-goit;
    text-decoration: underline;

    cursor: pointer;
    transition: vars.$transition;

    &:hover,
    &:focus {
      color: vars.$color-default-light;
      text-decoration: underline;
    }
  }
}

.footer:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}
