@use '../utils/vars' as vars;

.footer {
  @include vars.flex-center;
  background-color: vars.$color-footer;
  bottom: 0;
  color: vars.$color-default;
  flex-direction: column;
  font-size: vars.$font-xs;
  height: 35px;
  left: 0;
  opacity: 0;
  position: fixed;
  transform: translateY(20px);
  transition: vars.$transition;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding-top: 2px;

  &__svg {
    width: 10px;
    height: 10px;
  }

  &__link {
    color: vars.$color-goit;

    cursor: pointer;
    transition: vars.$transition;

    &:hover,
    &:focus {
      color: vars.$color-hover;
      text-decoration: underline;
    }
  }
}

.footer:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}
