@use '../utils/vars' as vars;

.footer {
  @include vars.flex-center;
  flex-direction: column;

  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  font-size: vars.$font-xs;

  opacity: 0;
  transform: translateY(20px);
  transition: vars.$transition;

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-footer;
    color: vars.$color-default-light-theme;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #1a181f; // brak w vars – zostawione
    color: vars.$color-default;
  }
}

.footer:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}

.footer__link {
  padding-top: 10px;
  color: vars.$color-goit;

  cursor: pointer;
  transition: vars.$transition;

  &:hover,
  &:focus {
    color: vars.$color-hover;
    text-decoration: underline;
  }
}
