* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.show-element {
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
  z-index: 100 !important;
  pointer-events: all !important;
}

button {
  cursor: pointer;
}
