@import '../utils/vars';

.header {
  background-image: url('../images/header-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 230px;
  font-size: 12px;
  height: 230px;
  width: 100%;
  margin-bottom: 20px;

  // -----------------
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  &--scroll {
    height: 100px; /* Уменьшенная высота хедера */
  }

  &--library {
    background-image: url('../images/my-library-mobile.jpg');
  }

  &-buttons {
    gap: 20px;
    > button {
      background: none;
      border-radius: 5px;
      border: 1px solid getcolor('header');
      cursor: pointer;
      height: 44px;
      margin-top: 70px;
      text-transform: uppercase;
      width: 130px;

      &:first-of-type {
        margin-right: 15px;
      }
    }
    &--active {
      background: getcolor('orange') !important;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 20px;
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      display: none;
    }

    &-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 280px;

      &:hover a svg use {
        fill: getcolor('orange');
        transition: 0.5s;
      }
    }

    &-list {
      align-items: center;
      display: flex;
      gap: 40px;
      list-style: none;

      &-item {
        > a {
          color: getcolor('header');
          text-decoration: none;
          text-transform: uppercase;
          &:hover,
          &:focus {
            color: getcolor('orange');
            transition: 0.5s;
          }
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: row;
      margin-top: 45px;
      border-bottom: 1px solid;
      color: getcolor('header');
      width: 280px;
    }

    &-input {
      flex-grow: 2;
      background: transparent;
      border: none;
      outline: none;
      padding: 0 0 4px;
      font-size: 14px;

      &-submit {
        position: relative;
        border: none;
        background-color: transparent;
      }

      &--loupe {
        cursor: pointer;
      }

      &::placeholder {
        color: getcolor('header');
      }
    }
  }

  &__error {
    // display: none;
    color: getcolor('header-error');
    margin: 16px auto 0;
    text-align: start;
    width: 280px;
    font-size: 14px;
  }
}

.underline {
  border-bottom: 3px solid #ff001b;
}

