@import '../utils/vars';

.header {
  background-image: url('../images/header-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 230px;
  font-size: 12px;
  height: 230px;
  width: 100%;
  margin-bottom: 20px;

  // -----------------scrolled------------
  position: sticky;
  top: 0;
  transition: height 0.5s ease, margin-bottom 0.5s ease;

  &--scroll {
    height: 100px; /* Уменьшенная высота хедера */
  }

  &--library {
    background-image: url('../images/my-library-mobile.jpg');
  }

  &-buttons {
    gap: 20px;
    > button {
      background: none;
      border-radius: 5px;
      border: 1px solid getcolor('header');
      cursor: pointer;
      height: 44px;
      margin-top: 70px;
      text-transform: uppercase;
      width: 130px;

      &:first-of-type {
        margin-right: 15px;
      }
    }
    &--active {
      background: getcolor('orange') !important;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 20px 40px;
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-icon {
      stroke: #fff;

      &:hover {
        stroke: getcolor('orange');
        transition: 0.5s;
      }
    }

    &-title {
      display: none;
    }

    &-language {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding-bottom: 20px;
      gap: 10px;

      &-item {
        color: getcolor('header');
        font-size: 8px;
      }

      &-btn {
        width: 18px;
        height: 18px;
        color: getcolor('header');
        border: 1px solid getcolor('header');
        border-radius: 5px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 10px;
        &:hover,
        &:focus {
          background-color: getcolor('orange');
          border-color: getcolor('orange');
          transition: 0.5s;
          filter: drop-shadow(0 8 43 rgba(255, 107, 1, 0.6));
        }
      }
    }

    &-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 280px;
    }

    &-list {
      align-items: center;
      display: flex;
      gap: 40px;
      list-style: none;

      &-item {
        > a {
          color: getcolor('header');
          text-decoration: none;
          text-transform: uppercase;
          &:hover,
          &:focus {
            color: getcolor('orange');
            transition: 0.5s;
          }
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: row;
      margin-top: 45px;
      border-bottom: 1px solid;
      color: getcolor('header');
      width: 280px;
    }

    &-input {
      flex-grow: 2;
      background: transparent;
      color: getcolor('header');
      border: none;
      outline: none;
      padding: 4px 4px;
      font-size: 14px;
      color: getcolor('orange');

      &:focus + &-submit svg,
      &:hover + &-submit svg {
        stroke: getcolor('orange');
      }

      &-submit {
        position: relative;
        border: none;
        background-color: transparent;
      }

      &--loupe {
        transition: 0.5s;
        cursor: pointer;
        stroke: getcolor('header');
      }

      &::placeholder {
        color: getcolor('header');
      }
    }
  }

  &__error {
    // display: none;
    color: getcolor('header-error');
    margin: 16px auto 0;
    text-align: start;
    width: 280px;
    font-size: 14px;
  }
}

.underline {
  border-bottom: 3px solid #ff001b;
}

// ----------------scrolled-----------------
.header.scrolled {
  height: 100px;
}

.header.scrolled .header__nav-form,
.header.scrolled .header__error {
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.header:hover .header__nav-form,
.header:hover .header__error {
  opacity: 1; 
  display: flex;
  transition: opacity 0.5s ease;
}
