@use '../utils/vars' as vars;

.header {
  @include vars.flex-center;
  background-image: url('../images/header-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  font-size: vars.$font-sm;
  height: 125px;
  position: fixed;
  top: 0;
  transition: vars.$transition;
  width: 100%;
  z-index: 100;

  &__container {
    @include vars.flex-between;
    height: 100%;
    transition: 0.5s ease-in-out;
    width: 100%;
  }

  &__nav {
    @include vars.flex-between;
    flex-direction: column;
    padding: 20px;
    width: 100%;

    &-container {
      width: 100%;
      height: 100%;
      @include vars.flex-between;
    }

    &-icon {
      margin-right: 5px;
      stroke: vars.$color-default;

      &:hover {
        stroke: vars.$color-hover;
      }
    }

    &-title {
      display: none;
    }

    &-list {
      @include vars.flex-between;
      gap: 40px;
    }

    &-language-btn {
      border: 1px solid;
      border-radius: 5px;
      padding: 2px;
      text-transform: uppercase;
      transition: vars.$transition;

      &:hover,
      &:focus {
        background: vars.$color-goit;
        filter: drop-shadow(0 8 43 rgba(255, 107, 1, 0.6));
      }
    }

    &-form {
      @include vars.flex-center;
      gap: 3px;
      margin-top: 25px;
      border-bottom: 1px solid;
      width: 280px;
    }

    // ZMIENIC NA FORM-INPUT
    &-input {
      border: none;
      outline: none;
      background: transparent;
      padding: 4px 4px;
      width: 100%;

      &::placeholder {
        color: vars.$color-default;
      }

      &:focus + &-submit svg,
      &:hover + &-submit svg {
        stroke: getcolor('orange');
      }

      &--loupe {
        cursor: pointer;
        stroke: vars.$color-goit;
        transition: vars.$transition;
      }
    }
  }

  &__error {
    display: none;
    color: vars.$color-header-error;
    white-space: nowrap;
    font-size: vars.$font-xs;
    text-align: center;
  }
}

.underline {
  border-bottom: 2px solid vars.$color-header-error;
}
//  TODO
// ----------------scrolled-----------------
.header.scrolled {
  height: 40px;
  transition: 0.6s ease-in-out;
}

.scrolled-container {
  padding: 0;
  // position: -5px;
  transform: translateY(-6px);
}

.hovered {
  height: 216px;
  transition: 0.6s ease-in-out;
}

.form-transform {
  transform: translateY(-10000px);
}

.nav-height {
  height: 40px;
  padding: 0;
}

.library-btn-list {
  margin-top: 15px !important;
  position: relative;
}

.buttons-transform {
  transform: translateY(-10000px);
}
