@use '../utils/vars' as vars;

.header {
  @include vars.flex-center;
  background-image: url('../images/header-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  font-size: vars.$font-sm;
  height: 125px;
  position: fixed;
  top: 0;
  transition: vars.$transition;
  width: 100%;
  z-index: 99;

  &__container {
    @include vars.flex-between;
    transition: vars.$transition-scroll;
    white-space: nowrap;
    width: 100%;
  }

  &__nav {
    @include vars.flex-between;
    flex-direction: column;
    padding: 0 20px;
    transition: vars.$transition-scroll;
    width: 100%;

    &-container {
      @include vars.flex-between;
      height: 100%;
      width: 100%;
    }

    &-icon {
      height: 20px;
      stroke: vars.$color-default;
      width: 20px;

      &:hover {
        stroke: vars.$color-hover;
      }
    }

    &-title {
      display: none;
    }

    &-list {
      @include vars.flex-between;
      width: 100%;

      &-item {
        height: 21px;
      }

      > ul {
        @include vars.flex-center;
        gap: 20px;
      }
    }

    &-login {
      // color: red;
      // background: green;
      // width: 100%;
      // height: 100%;
    }

    &-language-btn {
      @include vars.flex-center;
      border-radius: 5px;
      border: 1px solid;
      color: vars.$color-default;
      padding: 2px;
      text-transform: uppercase;
      transition: vars.$transition;

      &:hover {
        background: vars.$color-goit;
        filter: drop-shadow(0 8 43 rgba(255, 107, 1, 0.6));
      }
    }

    &-form {
      @include vars.flex-center;
      border-bottom: 1px solid vars.$color-goit;
      gap: 3px;
      margin-top: 25px;
      transition: vars.$transition-scroll-form;
      width: 280px;
    }

    &-input {
      background: transparent;
      border: none;
      color: vars.$color-default;
      outline: none;
      padding: 4px 4px;
      width: 100%;

      &::placeholder {
        color: vars.$color-default;
      }

      &:focus + &-submit svg,
      &:hover + &-submit svg {
        color: vars.$color-default;
        stroke: vars.$color-goit;
      }

      &:focus::placeholder {
        color: vars.$color-goit;
      }

      &--loupe {
        cursor: pointer;
        stroke: vars.$color-default;
        transition: vars.$transition;
      }
    }
  }

  &__error {
    color: vars.$color-error;
    display: none;
    font-size: vars.$font-xs;
    text-align: center;
    white-space: nowrap;
  }

  // ========== LIBRARY =========
  &--library {
    background-image: url('../images/my-library-mobile.jpg');

    &__container {
      height: 100%;
    }

    &__nav {
      height: 100%;
    }

    &__btn--container {
      transition: vars.$transition-scroll-form;
      margin-bottom: 10px;

      // TODO
      > button {
        background: vars.$color-modal-opacity;
        border-radius: 5px;
        border: 3px solid vars.$color-goit;
        color: vars.$color-default;
        font-weight: 700;
        height: 44px;
        text-transform: uppercase;
        transition: vars.$transition;
        width: 130px;

        &:hover {
          transform: vars.$transform-button;
        }

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
  }
}

// ======= OTHER ========
.underline {
  border-bottom: 2px solid vars.$color-goit;
}

// ----------------scrolled-----------------
.header.scrolled {
  height: 40px;
  transition: vars.$transition-scroll;
}

.scrolled-container {
  height: 67px;
}

.hovered {
  height: 125px !important;
  transition: vars.$transition-scroll;
}

.form-transform {
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-300%);
  transition: 0.01s ease-in-out;
  z-index: -10;
}

.nav-height,
.nav-height-library {
  padding-top: 25px;
  position: relative;
  transition: vars.$transition-scroll;
}

.buttons-transform {
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-300%);
  transition: 0.01s ease-in-out;
  z-index: -10;
}

.button-library--active {
  background: vars.$color-goit !important;
}
