@import '../utils/vars';

.library {
  display: flex;
  flex-direction: column;
  align-items: center;

  //test
  min-height: 100vh;
  //
  &-btn-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 42px;
    color: getcolor('header');
    border: 1px solid getcolor('header');
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: getcolor('orange');
      border-color: getcolor('orange');
      transition: 0.5s;
      filter: drop-shadow(0 8 43 rgba(255, 107, 1, 0.6));
    }
    &-list {
      margin-top: 60px;
    }
  }
  > img {
    width: 280px;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
    }
  }
}

.button-active {
  background-color: getcolor('orange');
  color: #fff;
  border: 1px solid getcolor('orange');
}

.is-hiden {
  display: none;
}
