@import '../utils/vars';

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-btn-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 42px;
    color: getcolor('header');
    border: 1px solid getcolor('header');
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: getcolor('orange');
      border-color: getcolor('orange');
      transition: 0.5s;
      filter: drop-shadow(0 8 43 rgba(255, 107, 1, 0.6));
    }
    &-list {
      margin-top: 60px;
    }
  }
  > img {
    width: 280px;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
    }
  }
}
.button-active {
  background-color: getcolor('orange');
  color: getcolor('black');
  border: 1px solid getcolor('orange');
}

.watched-box {
  
  // display: flex;
  // width: 280px;
  // height: 300px;
}
.queue-box {
  background-color: green(orange);
  display: flex;
  width: 280px;
  height: 300px;
}
.is-hiden {
  display: none;
}
///////////watched list

.films-watched {
  align-items: center;
  display: flex;
  justify-content: center;

  &__list {
    list-style: none;

    &-item {
      border-radius: 5px;
      height: 443px;
      margin-bottom: 20px;
      width: 280px;

      > img {
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        height: 402px;
        width: 280px;
      }

      > h2 {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.33;
        margin-top: 10px;
      }

      > p {
        color: getcolor('orange');
        font-size: 12px;
        line-height: 1.17;
      }

      &--rating {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 14px;
        background-color: getcolor('orange');
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

.page-numbers {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 40px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    align-items: center;
    display: flex;
    @media (prefers-color-scheme: light) {
      color: #000;
    }
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }

    &--arrow {
      margin: 0 20px;
      @media (prefers-color-scheme: light) {
        stroke: #000;
      }
      @media (prefers-color-scheme: dark) {
        stroke: #fff;
      }
    }
  }

  // Actual Page
  &--chosen {
    background-color: getcolor('orange') !important;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
}
