@use '../utils/vars' as vars;

.backdrop-modal {
  background-color: vars.$color-modal-opacity;
  height: 100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: vars.$transition;
  width: 100%;
  z-index: -10;
}

.team__modal {
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  justify-content: center;
  left: 50%;
  max-height: 558px;
  max-width: 840px;
  overflow: scroll;
  padding: 7px;
  position: absolute;
  top: 10%;
  transform: translateX(-50%);

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-details-bg-light;
    color: vars.$color-default-light;
  }
  @media (prefers-color-scheme: dark) {
    background-color: vars.$color-details-bg;
    color: vars.$color-default;
  }

  &__container {
    margin-top: 40px;
  }
}

.team__modal--close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  text-decoration: none;
  border: none;
  fill: rgb(64, 60, 60);
  background: none;
  padding: 4px;
  transition-property: fill border-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    fill: #ff6b08;
    transform: rotate(360deg);
  }

  > svg {
    @media (prefers-color-scheme: light) {
      fill: #000;
      stroke: #000;
    }
    @media (prefers-color-scheme: dark) {
      fill: #fff;
      stroke: #fff;
    }
    &:hover,
    &:focus {
      fill: #ff6b08;
      transform: rotate(360deg);
    }
  }
}

.team__title {
  flex-wrap: wrap;
  padding-top: 13px;
  color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow:
    1px 1px 1px #ccc,
    1px -1px 1px #ccc,
    -1px 1px 1px #ccc,
    -1px -1px 1px #ccc;
  transition: all 1s;
  @media (prefers-color-scheme: light) {
    color: #000;
  }
  @media (prefers-color-scheme: dark) {
    color: #fff;
  }

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

.team__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 278px;
  gap: 40px;
}

.team__member {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  width: 230px;
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.team__photo {
  height: auto;
  width: 100px;
  border: 2px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 5px #ccc;

  &:hover {
    box-shadow: 0px 0px 3px 5px vars.$color-goit;
  }
}

.team__name {
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.5s;
  @media (prefers-color-scheme: light) {
    color: #000;
  }
  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

.team__role {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

.team__card {
  align-items: center;
  background: transparent;
  border-radius: 10%;
  border: none;
  color: transparent;
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 10px;
  outline: none;
  position: relative;
  width: 100px;
  z-index: 0;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.team__github {
  @media (prefers-color-scheme: light) {
    fill: #000;
    stroke: #000;
  }
  @media (prefers-color-scheme: dark) {
    fill: #fff;
    stroke: #fff;
  }

  &:hover,
  &:focus {
    fill: vars.$color-goit;
    transition-duration: vars.$transition;
  }
}

// =======

.team__backdrop--show {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
  transform: translate(-50%, -50%) scale(1);
}
