@use '../utils/vars' as vars;

// ================= BACKDROP =================

.backdrop-modal {
  background-color: vars.$color-modal-opacity;
  height: 100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: vars.$transition;
  width: 100%;
  z-index: -10;
}

.team__backdrop--show {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

// ================= MODAL =================

// ================= TEAM GRID =================

.team {
  &__modal {
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: center;
    left: 50%;
    max-height: 558px;
    max-width: 840px;
    overflow: scroll;
    padding: 7px;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);

    @media (prefers-color-scheme: light) {
      background-color: vars.$color-details-bg-light;
      color: vars.$color-default-light;
    }

    @media (prefers-color-scheme: dark) {
      background-color: vars.$color-details-bg;
      color: vars.$color-default;
    }

    &__container {
      margin-top: 40px;
    }

    &--close {
      background: none;
      border: none;
      fill: rgb(64, 60, 60);
      height: 35px;
      padding: 4px;
      position: absolute;
      right: 20px;
      text-decoration: none;
      top: 20px;
      transition-duration: 250ms;
      transition-property: fill border-color;
      width: 35px;

      &:hover,
      &:focus {
        fill: vars.$color-goit;
        transform: rotate(360deg);
      }

      > svg {
        @media (prefers-color-scheme: light) {
          fill: vars.$color-default-light;
          stroke: vars.$color-details-bg-light;
        }

        @media (prefers-color-scheme: dark) {
          fill: vars.$color-default;
          stroke: vars.$color-details-bg;
        }

        &:hover,
        &:focus {
          fill: vars.$color-goit;
          transform: rotate(360deg);
        }
      }
    }
  }

  &__title {
    line-height: 35px;
    margin-bottom: 20px;
    text-align: center;
    transition: vars.$transition;

    &:hover,
    &:focus {
      color: vars.$color-goit;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 278px;
  }

  &__member {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    transition: vars.$transition;
    width: 230px;
  }

  &__link {
    @include vars.flex-center;
    flex-direction: column;

    &:hover,
    &:focus {
      transform: vars.$transform-button;
      .team__photo {
        box-shadow: 0px 0px 3px 5px vars.$color-goit;
      }

      .team__github {
        fill: vars.$color-goit;
      }
    }
  }

  &__photo {
    border-radius: 50%;
    box-shadow: 0px 0px 3px 5px #ccc;
    transition: vars.$transition;
    width: 100px;
  }

  &__name {
    font-size: vars.$font-lg;
    font-weight: 600;
    transition-duration: vars.$transition;
  }

  &__role {
    color: gray;
    font-size: vars.$font-md;
    font-weight: 500;
  }

  // ================= CARD =================

  &__github {
    @media (prefers-color-scheme: light) {
      fill: vars.$color-default-light;
      stroke: vars.$color-details-bg-light;
    }

    @media (prefers-color-scheme: dark) {
      fill: vars.$color-default;
      stroke: vars.$color-details-bg;
    }
  }
}
