@use '../utils/vars' as vars;

.team {
  &__modal {
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: center;
    left: 50%;
    max-height: 558px;
    max-width: 840px;
    overflow: scroll;
    padding: 7px;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
    z-index: 100;

    @media (prefers-color-scheme: light) {
      background-color: vars.$color-details-bg-light;
      color: vars.$color-default-light;
    }

    @media (prefers-color-scheme: dark) {
      background-color: vars.$color-details-bg;
      color: vars.$color-default;
    }

    &__container {
      margin-top: 40px;
    }

    &--close {
      background: none;
      border: none;
      fill: rgb(64, 60, 60);
      height: 35px;
      padding: 4px;
      position: absolute;
      right: 20px;
      text-decoration: none;
      top: 20px;
      transition-duration: 250ms;
      transition-property: fill border-color;
      width: 35px;

      &:hover,
      &:focus {
        fill: vars.$color-goit;
        transform: rotate(360deg);
      }

      > svg {
        @media (prefers-color-scheme: light) {
          fill: vars.$color-default-light;
          stroke: vars.$color-details-bg-light;
        }

        @media (prefers-color-scheme: dark) {
          fill: vars.$color-default;
          stroke: vars.$color-details-bg;
        }

        &:hover,
        &:focus {
          fill: vars.$color-goit;
          transform: rotate(360deg);
        }
      }
    }
  }

  &__title {
    line-height: 35px;
    margin: 20px auto 0 auto;
    text-align: center;
    transition: vars.$transition;
    font-size: vars.$font-lg;

    &:hover,
    &:focus {
      color: vars.$color-goit;
    }

    &--note {
      font-size: vars.$font-xs;
      margin-bottom: 20px;
      margin: 0 auto 20px auto;
      max-width: 280px;
      text-align: center;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    // width: 278px;
  }

  &__member {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    transition: vars.$transition;
    width: 230px;
    margin: 0 auto;
  }

  &__link {
    @include vars.flex-center;
    flex-direction: column;

    &:hover,
    &:focus {
      transform: vars.$transform-button;
      .team__photo {
        box-shadow: 0px 0px 3px 5px vars.$color-goit;
      }

      .team__github {
        fill: vars.$color-goit;
      }
    }
  }

  &__photo {
    border-radius: 50%;
    box-shadow: 0px 0px 3px 5px #ccc;
    transition: vars.$transition;
    width: 75px;

    &--leader {
      width: 120px;
    }
  }

  &__name {
    font-size: vars.$font-md;
    font-weight: 600;
    transition-duration: vars.$transition;
    &--leader {
      font-size: vars.$font-lg;
      font-weight: 700;
    }
  }

  &__role {
    color: gray;
    font-size: vars.$font-xs;
    font-weight: 500;

    &--leader {
      font-size: vars.$font-sm;
      font-weight: 600;
    }
  }

  // ================= CARD =================

  &__github {
    @media (prefers-color-scheme: light) {
      fill: vars.$color-default-light;
      stroke: vars.$color-details-bg-light;
    }

    @media (prefers-color-scheme: dark) {
      fill: vars.$color-default;
      stroke: vars.$color-details-bg;
    }
  }
}
