@use '../utils/vars' as vars;

.change-password-page {
  @include vars.flex-center;
  background-color: rgb(0, 18, 55);
  color: rgb(255, 255, 255);
  font-size: vars.$font-lg;
}

.change-password {
  &__container {
    @include vars.flex-center;
    flex-direction: column;
    margin-top: 50px;
  }

  &__form {
    @include vars.flex-center;
    flex-direction: column;
  }

  &__input {
    height: 25px;
    margin-bottom: 15px;
    width: 240px;
  }

  &__btn {
    border-radius: 12px;
    border: 1px solid vars.$color-hover;
    color: rgb(255, 255, 255);
    font-size: vars.$font-lg;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 8px;
    transition: vars.$transition;

    &:hover,
    &:focus {
      color: vars.$color-hover;
      transform: scale(1.2);
    }
  }
}
