.header {
  background-image: url('../images/header-background-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  margin-bottom: 20px;
  position: relative;
  width: 100vw;

  &-container {
    padding: 40px 20px;
  }

  &-nav {
    &__list {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: end;
      gap: 40px;

      &-item {
        > a {
          text-decoration: none;
          color: #fff;
        }

        &--logo {
          position: absolute;
          top: 40px;
          left: 20px;
        }
      }
    }

    &__input {
      width: 280px;
      border: none;
      border-bottom: 1px solid;
      background: transparent;
      outline: none;
      padding: 4px;
      margin-top: 60px;
    }
  }
}
