@media screen and (min-width: 1280px) {
  .details {

    &__container {
      width: 805px;
      height: 558px;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-left: 0px;
    }

    &__img {
      min-height: 500px;
      max-width: 400px;
      margin-left: -75px;
      margin-top: 0px;
    }

    &__information {
      max-width: 260px;
    }

    &__about-container {
      max-width: 391px;
    }
  }
}
