@media screen and (min-width: 1280px) {
  .details {
    max-height: 558px;
    max-width: 806px;

    &__img {
      min-height: 478px;
      max-width: 375px;
    }

    &__information {
      max-width: 260px;
    }
    &__about-container {
      max-width: 391px;
    }
  }
}
