@use '../utils/vars' as vars;

@media screen and (min-width: 1280px) {
  .footer {
    font-size: vars.$font-lg;
    padding: 20px 0;
    line-height: 1;

    &__svg {
      width: 16px;
      height: 16px;
    }
  }
}
