@media screen and (min-width: 1280px) {
  .header {
    &__nav {
      &-form {
        width: 394px;
      }
    }

    &__error {
      width: 393px;
    }

    &--library {
      background-image: url('../images/my-library-desktop.jpg');
    }
  }
}
