@media screen and (min-width: 1280px) {
  .library-films {
    margin: 120px auto 20px auto;
    max-width: 1280px;
    width: 100%;

    &__list {
      gap: 16px;
      width: 1217px;
      justify-content: center;

      &-item {
        max-width: 395px;

        > img {
          max-width: 395px;
        }
      }
    }
  }
}
