@media screen and (min-width: 1280px) {
  .films-watched {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &__list {
      gap: 16px;
      width: 1217px;

      &-item {
        height: 634px;
        width: 395px;
        > img {
          height: 574px;
          width: 395px;
        }
      }
    }
  }
}
