@media screen and (min-width: 768px) {
  .details {
    

    &__container {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 704px;
    }

    &__img {
      margin: 0 20px 0 0;
      min-height: 470px;
      width: 100%;
      max-width: 370px;
    }

    &__title {
      max-width: 300px;
      margin: 0 0 20px 0;
      white-space: wrap;
    }

    &__information {
      max-width: 264px;
      margin-left: 0;
    }
    &__about-container {
      margin: 0;
      width: 264px;
    }
    &__buttons {
      margin: 0;
    }
  }
}
