@use '../utils/vars' as vars;

@media screen and (min-width: 768px) {
  .details {
    &__container {
      min-width: 704px;
      max-width: 900px;
      justify-content: center;
      height: auto;
      flex-wrap: nowrap;
      top: 15%;

      // font-size: vars.$font-sm;
    }

    &__img {
      padding: 25px 0 25px 25px;
      margin: 0 20px 0 0;
      max-height: 700px;
      width: 100%;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__information {
      margin-top: 5px;
      // margin-right: 15px;
      flex-wrap: wrap;
      padding: 25px;
    }

    &__about-container {
      margin: 0;
    }

    &__buttons {
      margin: 0;
    }

    &__information-list--item:last-of-type {
      padding: 0;
      margin-left: 10px;
    }
  }
}
