@media screen and (min-width: 768px) {
  .details-library {
    display: flex;
    max-height: 502px;
    max-width: 704px;

    &__container {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 704px;
    }

    &__img {
      margin: 0 20px 0 0;
      min-height: 490px;
      width: 100%;
      max-width: 370px;
      margin-top: -60px;
      margin-left: -40px;
    }

    &__title {
      max-width: 300px;
      margin: 0 0 20px 0;
      white-space: wrap;
    }

    &__information {
      max-width: 264px;
      margin-left: 0;
      // &-right {
      //   width: 250px;
      // }
    }
    &__about-container {
      margin: 0;
      width: 264px;
    }
    &__buttons {
      margin: 0;
    }
  }
}
