@use '../utils/vars' as vars;

@media screen and (min-width: 768px) {
  .details {
    &__container {
      flex-wrap: nowrap;
      height: auto;
      justify-content: center;
      max-width: 900px;
      min-width: 704px;
      top: 15%;
    }

    &__img {
      height: auto;
      margin: 40px 0px auto 0;
      max-height: 90vh;
      max-width: 50vw;
      object-fit: contain;
      width: auto;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__information {
      flex-wrap: wrap;
      margin-top: 5px;
      padding: 25px;
    }

    &__about {
      &--container {
        margin: 0;
      }

      &--p {
        max-height: 150px;
        margin: 7px;
      }
    }

    &__buttons {
      margin: 0;
    }

    &__information-list--item:last-of-type {
      margin-left: 10px;
      padding: 0;
    }
  }
}
