@media screen and (min-width: 768px) {
  .films {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      justify-content: center;
      margin-top: 70px;
      width: 704px;

      &-item {
        max-width: 336px;

        > img {
          max-width: 336px;
        }
      }
    }
  }
}
