@media screen and (min-width: 768px) {
  .films {
    &__list {
      display: flex;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      width: 704px;
      &-item {
        width: 336px;
        height: 494px;
        > img {
          width: 336px;
          height: 455px;
        }
      }
    }
  }
}
