@use '../utils/vars' as vars;

@media screen and (min-width: 768px) {
  .header {
    height: 108px;
    background-image: url('../images/header-background-tablet.jpg');

    &__nav {
      font-size: vars.$font-md;

      &-title {
        display: block;
      }

      &-list {
        width: 100%;
        @include vars.flex-between;

        &-item {
          height: auto;
        }
      }

      &-icon {
        width: 32px;
        height: 32px;
      }

      &-link {
        display: flex;
        align-items: center;

        &:hover > svg {
          stroke: vars.$color-hover;
        }
      }

      &-form {
        margin-bottom: 10px;
        margin-top: 0;
      }

      &-input {
        &--loupe {
          height: 16px;
          width: 16px;
        }
      }
    }

    &-form {
      margin: 0;
    }

    &--library {
      background-image: url('../images/my-library-tablet.jpg');
    }
  }

  // ====== scrolled ======

  .hovered {
    height: 108px !important;
  }

  .nav-height {
    padding-top: 40px;
  }

  .nav-height-library {
    padding-top: 7px;
  }
}
