@import '../utils/vars';

@media screen and (min-width: 768px) {
  .header {
    background-size: 100vw 168px;
    height: 168px;
    margin-bottom: 10px;
    background-image: url('../images/header-background-tablet.jpg');

    .header:hover {
      height: 168px;
    }

    &--library {
      background-image: url('../images/my-library-tablet.jpg');
    }

    .header__nav {
      &-title {
        display: inline;
        font-size: 30px;
      }

      &-icon {
        margin-right: 5px;
      }

      &-container {
        width: 704px;

        > a {
          text-decoration: none;
          stroke: #fff;
          color: #fff;
          transition: 0.5s ease-in-out;

          &:hover {
            stroke: getcolor('orange');
            color: getcolor('orange');
          }
        }
      }
    }
    &__nav {
      &-form {
        width: 336px;
      }
    }

    &__error {
      width: 393px;
      text-align: center;
    }
  }
}

.header:hover {
  height: 216px;
}

.header:hover .header__error {
  padding-left: 12px;
}
