@use '../utils/vars' as vars;

@media screen and (min-width: 768px) {
  .header {
    height: 108px;
    background-image: url('../images/header-background-tablet.jpg');

    &__nav {
      font-size: vars.$font-lg;

      &-title {
        display: block;
      }

      &-list {
        width: 100%;
        @include vars.flex-between;
      }

      &-icon {
        width: 32px;
        height: 32px;
      }

      &-link {
        display: flex;
        align-items: baseline;

        &:hover > svg {
          stroke: vars.$color-hover;
        }
      }

      &-form {
        margin-bottom: 10px;
      }

      &-input {
        &--loupe {
          height: 16px;
          width: 16px;
        }
      }
    }

    &-form {
      margin: 0;
    }
  }
}

// ====== scrolled ======
.scrolled-container {
  // margin-bottom: 10px;
}

.hovered {
  height: 108px !important;
}
