@media screen and (min-width: 768px) {
  .library-films {
    &__list {
      display: flex;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      width: 704px;
      margin-top: 100px;

      &-item {
        max-width: 336px;

        > img {
          max-width: 336px;
        }
      }
    }
  }
}
