@use '../utils/vars' as vars;

@media screen and (min-width: 768px) {
  .team {
    &__title {
      font-size: vars.$font-xxl;
    }
    &__box {
      width: 490px;
      gap: 30px;
      margin-bottom: 25px;
    }

    &__member {
      font-size: vars.$font-md;
    }
  }
}
