<!-- Films list -->
<div class="films">
  <ul class="films__list">
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
    <li class="films__list-item">
      <img src="https://picsum.photos/200/300" alt="" />
      <h2>Tytuł</h2>
      <p>Kategoria | <span>Rok</span></p>
    </li>
  </ul>
</div>
