<div class="header__container">
  <nav class="header__nav">
    <div class="header__nav-container">
      <a href="./index.html" class="'header__nav-link">
        <svg class="header__nav-icon" viewBox="0 0 20 20" width="24px" height="24px">
          <use href="./images/icons.svg#logo" width="24px" height="24px"></use>
        </svg>
        <h1 class="header__nav-title">Filmoteka
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-list-item">
          <a class="underline" href="./index.html" data-translate="home">Home</a>
        </li>
        <li class="header__nav-list-item">
          <a href="./my-library.html" data-translate="library">My Library</a>
        </li>
        <li class="header__nav-list-item">
          <div class="header__nav-language">
            <button id="enLang" class="header__nav-language-btn header__nav-language-btn-en">
              EN
            </button>
            <button id="plLang" class="header__nav-language-btn header__nav-language-btn-pl">
              PL
            </button>
          </div>
        </li>
      </ul>
    </div>
    <!-- Search input -->
    <form class="header__nav-form">
      <input
        class="header__nav-input"
        type="text"
        placeholder="Movie search"
        data-translate="placeholder"
      />
      <button class="header__nav-input-submit" type="submit">
        <svg class="header__nav-input--loupe" width="12" height="12">
          <use href="./images/icons.svg#loupe"></use>
        </svg>
      </button>
    </form>
    <p class="header__error" data-translate="error">
      Search result not successful. Enter the correct movie name.
    </p>
  </nav>
</div>
