<div class="header__container">
  <nav class="header__nav">
    <div class="header__nav-container">
      <a href="./index.html">
        <svg class="header__nav-icon" viewBox="0 0 20 20" width="24px" height="24px">
          <use href="./images/icons.svg#logo" width="24px" height="24px"></use>
        </svg>
        <h1 class="header__nav-title">Filmoteka</h1>
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-list-item">
          <a href="./index.html" data-translate="home">Home</a>
        </li>
        <li class="header__nav-list-item">
          <a class="underline" href="./my-library.html" data-translate="library">My Library</a>
        </li>
        <li class="header__nav-list-item">
          <div class="header__nav-language">
            <button id="enLang" class="header__nav-language-btn">EN</button>
            <button id="plLang" class="header__nav-language-btn">PL</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="library-btn-list">
      <button class="library-btn btn-watched" type="button" data-translate="libraryBtnWatched">
        Watched
      </button>
      <button class="library-btn btn-queued" type="button" data-translate="libraryBtnQueue">
        Queue
      </button>
    </div>
  </nav>
</div>
