<div class="login backdrop-modal hidden">
  <div class="login__container">
    <form class="login__form">
      <label class="login__label">
        <input class="login__input" type="text" name="text" placeholder="login" />
      </label>
      <label class="login__label">
        <input class="login--Password__input" type="text" name="text" placeholder="password" />
      </label>
      <button class="login__btn" type="submit" data-translate="login">Login</button>
      <button class="login__btn login__btn--register" type="button" data-translate="register">
        Register
      </button>
    </form>
    <p class="login__error" data-translate="wrongLoginOrPassword"></p>
  </div>
  <include src="./partials/modal-register.html"></include>
</div>
