<div class="register backdrop-modal hidden">
  <div class="register__container">
    <form class="register__form">
      <label class="register__label">
        <input class="register__input" type="text" name="text" placeholder="login" />
      </label>
      <label class="register__label">
        <input class="register--Password__input" type="text" name="text" placeholder="password" />
      </label>

      <button class="register__btn" type="submit" data-translate="register">Register</button>
    </form>
    <p class="register__error" data-translate=""></p>
  </div>
</div>
