<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="team__title">"Projektownia" - Project Group No4</h1>
    <div class="team__box">
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/MichalL.jpg" alt="Michał Lipiak" />
        </div>
        <a class="team__link" href="https://github.com/MikeL538" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Michał Lipiak</p>
        <p class="team__role">Team Leader</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/MichalW.jpg" alt="Michał Wójcik" />
        </div>
        <a class="team__link" href="https://github.com/michalwojcik4" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Michał Wójcik</p>
        <p class="team__role">Developer / Scrum Master</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/BartoszB.jpg" alt="Bartosz Barański" />
        </div>
        <a class="team__link" href="https://github.com/Bartosz-Baranski" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Bartosz Barański</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/Viaczeslav.jpg" alt="Viaczeslav" />
        </div>
        <a class="team__link" href="https://github.com/Viache-Slav" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Viaczeslav</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/TomekC.jpg" alt="Tomek Cekała" />
        </div>
        <a class="team__link" href="https://github.com/tomcek2" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Tomek Cekała</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/MichalSz.jpg" alt="Michał Szczepański" />
        </div>
        <a class="team__link" href="https://github.com/szczepanskimichal" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Michał Szczepański</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="./images/MariuszG.jpg" alt="Mariusz Guzowski" />
        </div>
        <a class="team__link" href="https://github.com/Gugiet" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Mariusz Guzowski</p>
        <p class="team__role">Developer</p>
      </div>
    </div>
  </div>
</div>
