<div class="register hidden">
  <div class="register__container">
    <button id="registerCloseButton" class="register__close-button" type="button">
      <svg width="16" height="16">
        <use href="#close"></use>
      </svg>
    </button>
    <form class="register__form">
      <label for="registerLogin"> <span>Login</span></label>
      <input
        id="registerLogin"
        class="register__input"
        type="login"
        name="text"
        placeholder="login"
        required
      />

      <label for="registerPassword"><span data-translate="password">Password</span></label>
      <input
        id="registerPassword"
        class="register__input"
        type="password"
        name="password"
        placeholder="password"
        required
      />
      <label for="registerRepeatPassword"
        ><span data-translate="repeatPassword">Repeat Password</span></label
      >
      <input
        id="registerRepeatPassword"
        class="register__input"
        type="password"
        name="password"
        placeholder="repeat password"
        required
      />

      <label for="registerEmail"><span>E-mail</span></label>
      <input
        id="registerEmail"
        class="register__input"
        type="email"
        name="email"
        placeholder="E-mail"
        required
      />

      <button class="register__btn" type="submit" data-translate="register">Register</button>
      <button id="registerCancel" class="register__btn" type="button" data-translate="cancel">
        Cancel
      </button>
    </form>
    <p class="register__error" data-translate=""></p>
  </div>
</div>
