<div class="login backdrop-modal hidden">
  <div class="login__container">
    <button id="loginCloseButton" class="login__close-button" type="button">
      <svg width="16" height="16">
        <use href="#close"></use>
      </svg>
    </button>

    <form class="login__form">
      <label class="login__label" for="loginLogin"><span>Login</span></label>
      <input
        id="loginLogin"
        class="login__input"
        type="text"
        name="text"
        placeholder="login"
        required
      />

      <label class="login__label" for="loginPassword"
        ><span data-translate="password">Password</span></label
      >
      <input
        id="loginPassword"
        class="login--Password__input"
        type="password"
        name="text"
        placeholder="password"
        required
      />
      <button
        id="loginForgotPasswordButton"
        type="button"
        class="login__forgot-password"
        data-translate="forgotPassword"
      >
        Forgot password
      </button>

      <button class="login__btn" type="submit" data-translate="login">Login</button>
      <button
        id="loginButtonRegister"
        class="login__btn login__btn--register"
        type="button"
        data-translate="register"
      >
        Register
      </button>
    </form>

    <p class="login__error" data-translate=""></p>
  </div>
  <include src="./partials/modal-register.html"></include>
  <include src="./partials/modal-forgot-password.html"></include>
</div>
