<div class="backdrop-modal hidden modal-team-box">
  <div class="team__modal">
    <button class="team__modal--close">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="team__modal__container">
      <div class="team__member">
        <a class="team__link" href="https://github.com/MikeL538" target="_blank">
          <img
            class="team__photo team__photo--leader"
            src="./images/MichalL.jpg"
            alt="Michał Lipiak"
          />
          <svg class="team__github" width="25" height="25">
            <use href="#github"></use>
          </svg>
        </a>
        <p class="team__name team__name--leader">Michał Lipiak</p>
        <p class="team__role team__role--leader">Team Leader & Lead Developer</p>
      </div>
      <h1 class="team__title">Original Bootcamp Project Team</h1>
      <p class="team__title--note">
        90%+ of the code written was refactored by Michał Lipiak after the bootcamp.
      </p>
      <div class="team__box">
        <div class="team__member">
          <a class="team__link" href="https://github.com/michalwojcik4" target="_blank">
            <img class="team__photo" src="./images/MichalW.jpg" alt="Michał Wójcik" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Michał Wójcik</p>
          <p class="team__role">Scrum Master & Developer</p>
        </div>

        <div class="team__member">
          <a class="team__link" href="https://github.com/Bartosz-Baranski" target="_blank">
            <img class="team__photo" src="./images/BartoszB.jpg" alt="Bartosz Barański" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Bartosz Barański</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <a class="team__link" href="https://github.com/Viache-Slav" target="_blank">
            <img class="team__photo" src="./images/Viaczeslav.jpg" alt="Viaczeslav" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Viaczeslav</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <a class="team__link" href="https://github.com/tomcek2" target="_blank">
            <img class="team__photo" src="./images/TomekC.jpg" alt="Tomek Cekała" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Tomek Cekała</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <a class="team__link" href="https://github.com/szczepanskimichal" target="_blank">
            <img class="team__photo" src="./images/MichalSz.jpg" alt="Michał Szczepański" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Michał Szczepański</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <a class="team__link" href="https://github.com/Gugiet" target="_blank">
            <img class="team__photo" src="./images/MariuszG.jpg" alt="Mariusz Guzowski" />
            <svg class="team__github" width="25" height="25">
              <use href="#github"></use>
            </svg>
          </a>
          <p class="team__name">Mariusz Guzowski</p>
          <p class="team__role">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
