<div id="forgotPasswordModal" class="forgot-password hidden">
  <div class="forgot-password__container">
    <button id="forgot-passwordCloseButton" class="forgot-password__close-button" type="button">
      <svg width="16" height="16">
        <use href="#close"></use>
      </svg>
    </button>
    <form class="forgot-password__form">
      <label for="forgot-passwordLogin"> <span>Login</span></label>
      <input
        id="forgot-passwordLogin"
        class="forgot-password__input"
        type="login"
        name="text"
        placeholder="login"
        required
      />

      <label for="forgot-passwordEmail"><span>E-mail</span></label>
      <input
        id="forgot-passwordEmail"
        class="forgot-password__input"
        type="email"
        name="email"
        placeholder="E-mail"
        required
      />

      <label for="forgot-passwordPassword">
        <span data-translate="newPassword">Password</span>
      </label>
      <input
        id="forgot-passwordPassword"
        class="forgot-password__input"
        type="password"
        name="password"
        placeholder="password"
        required
      />

      <label for="forgot-passwordRepeatPassword">
        <span data-translate="repeatNewPassword">Password</span>
      </label>
      <input
        id="forgot-passwordRepeatPassword"
        class="forgot-password__input"
        type="password"
        name="password"
        placeholder="repeat password"
        required
      />

      <button class="forgot-password__btn" type="submit" data-translate="resetPassword">
        Reset password
      </button>
      <button
        id="forgot-passwordCancel"
        class="forgot-password__btn"
        type="button"
        data-translate="cancel"
      >
        Cancel
      </button>
    </form>
    <p class="forgot-password__error" data-translate=""></p>
  </div>
</div>
