<div class="details">
  <div class="details__container">
    <img
      class="details__img"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png"
      alt=""
    />
    <div class="details__wide-separator">
      <h2 class="details__title"></h2>
      <div class="details__information">
        <div class="details__information-left">
          <ul class="details__information-list">
            <li>
              <span data-translate="vote">Vote / Votes</span>
              <span data-translate="popularity">Popularity</span>
              <span data-translate="orgTitle">Original Title</span>
              <span data-translate="genre">Genre</span>
            </li>
          </ul>
        </div>
        <div class="details__information-right"></div>
      </div>
      <div class="details__about-container">
        <h3 data-translate="about">About</h3>
        <p></p>
      </div>
      <div class="details__buttons">
        <button class="btn-add-watched" type="button" data-translate="btnWatched">
          add to watched
        </button>
        <button class="btn-add-queue" type="button" data-translate="btnQueue">add to queue</button>
      </div>
    </div>
    <button class="details__close-button" type="button">
      <svg width="16" height="16">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
  </div> 
</div>
