<div class="details-library">
  <div class="details-library__container">
    <img
      class="details-library__img"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png"
      alt=""
    />
    <div class="details-library__wide-separator">
      <h2 class="details-library__title"></h2>
      <div class="details-library__information">
        <div class="details-library__information-left">
          <ul class="details-library__information-list">
            <li>
              <span data-translate="vote">Vote / Votes</span>
              <span data-translate="popularity">Popularity</span>
              <span data-translate="orgTitle">Original Title</span>
              <span data-translate="genre">Genre</span>
            </li>
          </ul>
        </div>
        <div class="details-library__information-right"></div>
      </div>
      <div class="details-library__about-container">
        <h3 data-translate="about">About</h3>
        <p></p>
      </div>
      <div class="details-library__buttons">
        <button class="btn-delete-watched" type="button" data-translate="btnDltWatched">
          delete from watched
        </button>
        <button class="btn-delete-queue" type="button" data-translate="btnDltQueued">
          delete from queue
        </button>
      </div>
    </div>
    <button class="details-library__close-button" type="button">
      <svg width="16" height="16">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
