<!-- After cliking on movie -->
<div class="details">
  <div class="details__container">
    <button class="details__close-button" type="button">
      X
      <!-- Problem z SVG, importuje grupę ale ładuje się tylko część -->
      <!-- <svg width="16" height="16">
          <use href="./images/icons.svg#close"></use>
        </svg> -->
    </button>

    <img class="details__img" src="https://picsum.photos/200/300" alt="" />
    <div class="details__wide-separator">
      <h2 class="details__title">Film Title</h2>
      <div class="details__information">
        <div class="details__information-left">
          <ul class="details__information-list">
            <li>
              <span>Vote / Votes</span>
              <span>Popularity</span>
              <span>Original Title</span>
              <span>Genre</span>
            </li>
          </ul>
        </div>
        <div class="details__information-right">
          <ul class="details__information-list">
            <li>
              <span><span class="details__information-rating">7.3</span> / 1260</span>
              <span>100.2</span>
              <span>A FISTFUL OF LEAD</span>
              <span>Western</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="details__about-container">
        <h3>About</h3>
        <p>
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="details__buttons">
        <button>add to Watched</button>
        <button>add to queue</button>
      </div>
    </div>
  </div>
</div>
