<!-- Pages numbers at the bottom, under films -->
<div class="page-numbers">
  <a class="page-numbers__link" href="#">
    <svg class="page-numbers__link--arrow" width="16" height="16">
      <use href="./images/icons.svg#arrow-left"></use>
    </svg>
  </a>
  <ul class="page-numbers__list">
    <li><a class="page-numbers__link" href="#">13</a></li>
    <li><a class="page-numbers__link" href="#">14</a></li>
    <li class="">
      <a class="page-numbers__link page-numbers--chosen" href="#">15</a>
    </li>
    <li><a class="page-numbers__link" href="#">16</a></li>
    <li><a class="page-numbers__link" href="#">17</a></li>
  </ul>
  <a lass="page-numbers__link" href="#">
    <svg class="page-numbers__link--arrow" width="16" height="16">
      <use href="./images/icons.svg#arrow-right"></use>
    </svg>
  </a>
</div>
