.header {
  width: 100vw;
  height: 216px;
  background-image: url('../images/header-background.png');
  background-size: cover; /* Adjust the background size as needed */
  /* Add other background properties if necessary */
}
