@use '../utils/vars' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  @media (prefers-color-scheme: dark) {
    background-color: vars.$color-details-bg;
    color: vars.$color-default;
  }
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: vars.$color-default;
  transition: vars.$transition;

  &:hover {
    color: vars.$color-hover;
  }
}

svg {
  transition: vars.$transition;
}

button {
  border: none;
  background: none;
}

.backdrop-modal {
  background-color: vars.$color-modal-opacity;
  height: 100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  transition:
    opacity vars.$transition-scroll,
    transform vars.$transition-scroll,
    z-index vars.$transition-scroll;

  width: 100%;
  z-index: 99;

  &:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%), scale(0.2);
  transition:
    opacity vars.$transition-scroll,
    transform vars.$transition-scroll,
    z-index vars.$transition-scroll;

  z-index: -100;
}
