@use '../utils/vars' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  @media (prefers-color-scheme: dark) {
    background-color: vars.$color-details-bg;
    color: vars.$color-default;
  }
}

.show-element {
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
  z-index: 100 !important;
  pointer-events: all !important;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: vars.$color-default;
  transition: vars.$transition;

  &:hover {
    color: vars.$color-hover;
  }
}

svg {
  transition: vars.$transition;
}

button {
  border: none;
  background: none;
}
