$colors: (
  'orange': #ff6b08,
  'footer': #f7f7f7,
  'header': #fff,
  'header-error': #ff001b,
  'black': #000000,
  'team-background': #fff,
);

// Colors
$color-hover: #ff6b08;
$color-goit: #ff6b08;
$color-header-error: #ff001b;
$color-footer: #1a181f;
$color-modal-opacity: #00000079;

// Default dark
$color-default: #f5f5f5;
$color-details-bg: #161515;

// Prefers light
$color-default-light: #050505;
$color-details-bg-light: #f5f5f5;

$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px

@function getcolor($key) {
  @return map-get($colors, $key);
}

// TRANSITIONS
$transition: 0.3s ease-in-out;
$transition-scroll: 0.7s ease-in-out;
$transition-scroll-form: 0.9s ease-in-out;

// TRANSFORM
$transform-button: scale(1.1);

// MIXINS
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin interactive {
  transition: $transition-base;

  &:hover,
  &:focus {
    color: getcolor('orange');
    stroke: getcolor('orange');
  }
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
