@use './components/utils/vars';
@use './components/utils/global';

@use './components/320px/header';
@use './components/768px/header768';
@use './components/1280px/header1280';

@use './components/320px/library-films';
@use './components/768px/library-films768';
@use './components/1280px/library-films1280';

@use './components/320px/film-list';
@use './components/768px/film-list768';
@use './components/1280px/film-list1280';

@use './components/320px/footer';
@use './components/768px/footer768';
@use './components/1280px/footer1280';

@use './components/320px/details';
@use './components/768px/details768';
@use './components/1280px/details1280';

@use './components/320px/modal-login';
@use './components/768px/modal-login768';
@use './components/1280px/modal-login1280';

@use './components/1280px/library1280';
@use './components/320px/modal-team';
@use './components/768px/modal-team768';
@use './components/1280px/modal-team1280';
